Payload in packets with SYN or SYN-ACK flag is not visible in signatures

We noticed that Zeek signatures (i.e. file provided to Zeek using the -s option) do not detect data located in SYN and SYN-ACK packets from the initial TCP handshake. That data is valid according to RFC793 and is supposed to be given to the application once the server reach the ESTABLISHED state according to the second paragraph of Section 3.4 of RFC793.

For example, using the attached files and Zeek 3.0.0 or Bro 2.6.4, both following commands do not yield the creation of a signatures.log file:
* zeek -s payload_http.sig -r payload_syn.pcap
* zeek -s payload_http.sig -r payload_synack.pcap

The same problem also happens when TCP is using TCP Fast Open (TFO).  It is observable using the following command: zeek -s payload_http.sig -r tfo.pcap.
This pcap is also located at: https://redmine.openinfosecfoundation.org/attachments/download/1023/tfo.pcap.
These files are in the following archive: [payload_syn_synack_signatures_zeek.zip](https://github.com/zeek/zeek/files/3779570/payload_syn_synack_signatures_zeek.zip)

This problem does not occur in scripts that hook events for protocols such as HTTP or SSH.

We did not find any OSes that accept data from SYN or SYN-ACK packets's payload. So this may restrict the IDS evasion possibility. Many OSes however support TFO so these payload in SYN and SYNACK packets should reach applications if TFO is used. We also did not find anything regarding Zeek's TFO support so we may have missed a specific option or roadmap to add TFO support.


Great report, thanks.  This does look like a bug related to how signature matching state is initialized.  E.g. signature initialization takes place at the end of processing the first TCP packet:

https://github.com/zeek/zeek/blob/7b9a27c96a0203e33b46826ad81f489d0b7c1e6c/src/analyzer/protocol/tcp/TCP.cc#L1247

But that's *after* the reassembler has already finished processing the packet (including signature matching, which hasn't been initialized correctly yet):

https://github.com/zeek/zeek/blob/7b9a27c96a0203e33b46826ad81f489d0b7c1e6c/src/analyzer/protocol/tcp/TCP.cc#L1204-L1205

In most cases (where there's no data sent along with SYNs), this order would generally work, but think the fix here is to just re-order these to make the signature matching initialization occur earlier.  I'll confirm a patch for that shortly.

Good catch, @johanmazelanssi, this must have been in there for quite a while!