DNS analyzer improperly associates mDNS requests using transaction ID

The DNS analyzer improperly associates unrelated mDNS requests and replies.

I've attached [gen_mdns.py](https://github.com/user-attachments/files/26950393/gen_mdns.py) (which claude was gracious enough to contribute), which will generate a minimal PCAP that triggers the behavior (github didn't let me upload the pcap directly). 

I think the root cause is attempting to associate mDNS queries by query id.

From RFC 6762 Section 18.1:

> In multicast query messages, the Query Identifier SHOULD be set to zero on transmission.
> 
> In multicast responses, including unsolicited multicast responses, the Query Identifier MUST be set to zero on transmission, and MUST be ignored on reception.

We probably need to update the DNS analyzer to track whether a query is mDNS or regular DNS, and on mDNS ignore the transaction ID, using a different methodology to correlate responses.

This brings up a bigger issue with mDNS in general: we typically don't expect to see the response for a given mDNS query in the same "connection" (5-tuple) at all (it could happen, however it would be unusual). The typical flow is:

* requestor:5353 -> mdns_multicast:5353 query
* responder:5353 -> mdns_multicast:5353 response

Currently, the DNS analyzer is built around traffic being connection oriented, and this breaks down for mDNS. We could maybe still correlate unreplied requests with unsolicited replies after-the-fact, but although the protocol format is compatible between the two the semantics are not.

Edit: adding tcpdump output and dns log to try to show the issue more clearly

```
$ tcpdump -nv -r pcap/mdns_test.pcap 
reading from file pcap/mdns_test.pcap, link-type EN10MB (Ethernet), snapshot length 65535
18:04:20.616834 IP (tos 0x0, ttl 255, id 1, offset 0, flags [none], proto UDP (17), length 56)
    192.168.0.2.5353 > 224.0.0.251.5353: 0 A (QM)? wpad.local. (28)
18:04:20.617167 IP (tos 0x0, ttl 255, id 1, offset 0, flags [none], proto UDP (17), length 56)
    192.168.0.2.5353 > 224.0.0.251.5353: 0 AAAA (QM)? wpad.local. (28)
18:04:20.617368 IP (tos 0x0, ttl 255, id 1, offset 0, flags [none], proto UDP (17), length 76)
    192.168.0.2.5353 > 224.0.0.251.5353: 0*- [0q] 1/0/0 s0m3th1ng-3l53.local. A 192.168.0.2 (48)
18:04:20.617594 IP (tos 0x0, ttl 255, id 1, offset 0, flags [none], proto UDP (17), length 88)
    192.168.0.2.5353 > 224.0.0.251.5353: 0*- [0q] 1/0/0 s0m3th1ng-3l53.local. AAAA fe80::200:deff:fead:beef (60)
```

```
$ cat dns.log 
#separator \x09
#set_separator  ,
#empty_field    (empty)
#unset_field    -
#path   dns
#open   2026-04-22-00-08-13
#fields ts      uid     id.orig_h       id.orig_p       id.resp_h       id.resp_p       proto   trans_id        rtt     query   qclass  qclass_name     qtype   qtype_name      rcode   rcode_name      AA      TC      RD      RA      Z       answers TTLs    rejected
#types  time    string  addr    port    addr    port    enum    count   interval        string  count   string  count   string  count   string  bool    bool    bool    bool    count   vector[string]  vector[interval]        bool
1776816260.616834       C9mDh128WB7ErfscQe      192.168.0.2     5353    224.0.0.251     5353    udp     0       0.000534        wpad.local      1       C_INTERNET      1       A       0       NOERROR T       F       F       F       0       192.168.0.2     120.000000      F
1776816260.617167       C9mDh128WB7ErfscQe      192.168.0.2     5353    224.0.0.251     5353    udp     0       0.000427        wpad.local      1       C_INTERNET      28      AAAA    0       NOERROR T       F       F       F       0       fe80::200:deff:fead:beef        120.000000      F
```

Fun! I put "project" as label - I don't think it's a quick fix, but a proper `mdns.log` would be nice.

There is the following package: https://github.com/zeek-plugins/mdns/

But I think it mostly wraps `dns` events in new `mdns_` events - don't think it looked at the aggregation/correlation.

@fdekeers - any thoughts here?

> We could maybe still correlate unreplied requests with unsolicited replies after-the-fact, but although the protocol format is compatible between the two the semantics are not.

This seems similar to DHCP. It might make sense for workers to forward request/responses to proxies using HRW or send everything to the manager and do the correlation/logging there. Maybe a `&publish_on_change` on the workers coupled with `&create_expire` processing on the receiving node. E.g. collect all mdns request/responses for a given interval, then the aggregation.

@ekoyle , I used your script. The generated pcap has queries for `wapd.local`, but the responses do not reference this name anymore. Is that a valid example?

Yes, that is. I think what I'm seeing is something like:

* client sends an mDNS request for an unrelated name (query id 0, `wpad.local` in example)
* client sends a response for one of its own names (also query id 0, `s0m3th1ng-3l53.local` in example)
* zeek associates the name in the query with the unrelated response and writes a dns log entry

(for clarity: the dns log shows a query for wpad.local with a reply from our host pointing at its own IP address, but there was never such a reply)

I think it's fair to either ignore query IDs of zero, or to not attempt to associate them with anything. Like you said in the original post the RFC uses that for *all* multicast responses including unsolicited ones. There's no way to differentiate between a solicited or unsolicited response in that regard, and you'd need some other heuristic to do so based on some other field.

The trivial heuristic would be matching based on the query name, but the fact that queries and replies will show up as separate conn entries seems problematic.

I'm not aware of an easy way to associate a request from one connection with a reply from another (and we could get multiple replies, which the dns log doesn't support cleanly), so I think the least surprising solution would be to stop trying to associate mdns replies with queries (we could gate on query id 0 and maybe id.resp_p=5353, although I think a query id of 0 is suspicious no matter where we see it).

> Fun! I put "project" as label - I don't think it's a quick fix, but a proper `mdns.log` would be nice.

@awelzel I put my thoughts on an mdns log in https://github.com/zeek/zeek/pull/5608#issuecomment-4791390781, in retrospect it would have made more sense to put it here.

tl;dr: A separate mdns log might create more complexity than the value it would provide.